
  <!DOCTYPE html>
<html lang="en">
<head>
  <title>E-TOUR</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
      <a class="navbar-brand" href="#">ETOUR</a>
    </div>
    <ul class="nav navbar-nav navbar-right"></ul>
      <li class="active"><a href="#">Home</a></li>
     <!--<a href="#" role="button" routerLinkActive="active">About Us</a>--> 
      <a href="contact-us" class="glyphicon glyphicon-contact" role="button" routerLinkActive="active">Contact Us</a>
   <!-- <ul class="nav navbar-nav navbar-right"></ul>-->
     
     <!-- <ul class="nav navbar-nav navbar-right"></ul>-->
  
      <a href="" class="glyphicon glyphicon-contact" role="button" routerLinkActive="active">{{username}}</a>
      <a href="login" class="glyphicon glyphicon-log-in" routerLinkActive="active">Login</a>
      <a href="customerdetail" class="glyphicon glyphicon-user" role="button" routerLinkActive="active">SignUp</a>
      <a href="logout" class="glyphicon glyphicon-off" role="button" routerLinkActive="active">Logout</a>
    
  </div>
  
</nav>
</body>
</html>