<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="footer-widget">
          <h3>Stay in touch</h3>
          
          <div class="footer-widget-content">
            <div class="container">
        
              contact tollfree: 1800 209 3344
              @2019 etour.com, Tour Internet Limited. All rights reserved | The Times of India | Group 2
              
      </div>
            
              </div>
          </div>
        </div>
      </div>
      