
<div>

  <form [formGroup]="passengerdetail" (ngSubmit)="onSubmi1(customerdetail)">
 <div>

  bookingid:<input type="text" name="bookingid" formControlName="bookingid"><br><br>
  passengername:<input type="text" name="passengername" formControlName="passengername"><br><br>
  passengerdob:<input type="text" name="passengerdob" formControlName="passengerdob"><br><br>
  roomtype:<input type="text" name="roomtype" formControlName="roomtype"><br><br>
  cost:<input type="text" name="cost" formControlName="cost" ><br><br>
  passengeriddocument:<input type="text" name="passengeriddocument" formControlName="passengeriddocument"><br><br>
  passengeridno:<input type="text" name="passengeridno" formControlName="passengeridno"><br><br>
  passengersex:<input type="text" name="passengersex" formControlName="passengersex"><br><br>
  passengeremail:<input type="text" name="passengeremail" formControlName="passengeremail" ><br><br>
 
 </div>
 <input type="submit" value="submit" >
 
  </form>
</div>
