<p>
  employee-list works!
</p><hr/>
<table>
  <thead>
      <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>AddressLine1</th>
          <th>AddressLine2</th>
          <th>City</th>
          <th>State</th>
          <th>Pin Code</th>
          <th>Telephone</th>
      </tr>
  </thead>
  <tbody>       
          <tr *ngFor="let customerdetail of customers">
                    
              <td>{{customerdetail.customerid}}</td>
              <td>{{customerdetail.customername}}</td>
              <td>{{customerdetail.email}}</td>
              <td>{{customerdetail.address1 }}</td>
              <td>{{customerdetail.address2 }}</td>
              <td>{{customerdetail.city }}</td>
              <td>{{customerdetail.state }}</td>
              <td>{{customerdetail.pin }}</td>
              <td>{{customerdetail.telno }}</td>
          </tr>
         
              </tbody>
              </table>