

<!-- <h2>TYPES OF TOURS</h2>

<div class="card">
  <img src="../assets/Images/i1.jpg" style="width:100%">
  <div class="container">
    <h4><b>INTERNATIONAL TOURS</b></h4> 
    <a href="packagecompletedetail" class="btn btn-primary">SELECT</a>    
  </div>
</div>


<div class="card">
  <img src="../assets/Images/i1.jpg" style="width:100%">
  <div class="container">
    <h4><b>Domestic TOURS</b></h4> 
    <a href="packagecompletedetail" class="btn btn-primary">SELECT</a>    
  </div>
</div> -->